body {
    margin: 0;
}

svg {
    padding-left: 50px;
    padding-top: 15px;
    overflow: visible;
}

.svg-container {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    margin: 10px;
}

.charts {
    display: flex;
}

.axis-grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    stroke-dasharray: 5,5;
}