body {
    margin: 0;
}

svg {
    padding-left: 50px;
    padding-top: 15px;
    overflow: visible;
}

.project {
    text-align: center;
}

.svg-container {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    margin: 10px;
}

.axis-grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    stroke-dasharray: 5, 5;
}

.axis-grid path {
    stroke-width: 0;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    font: 12px sans-serif;
    background: #d9d8d4;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

.chart {
    min-width: 200px;
    min-height: 400px;
    max-width: 1200px;
    max-height: 1200px;
    padding-right: 100px;
    margin: auto;
}
